body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
span,
a,
button,
tr {
  font-family: "Roboto", sans-serif;
}

.ml-10 {
  margin-left: 100px;
}
@media screen and (max-width: 768px) {
  .ml-10 {
    margin: 0;
  }
}

.mr-10 {
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .mr-10 {
    margin: 0;
  }
}

header a {
  font-family: "Roboto", sans-serif;
  color: #a9d702 !important;
}

header a:hover {
  text-decoration: underline !important;
}

.logo img {
  border-radius: 50%;
  max-width: 80px;
}

.menu-nav-main {
  font-size: 150%;
  font-weight: 600;
}

.about-us {
  padding-top: 30px;
  text-align: center;
}

.about-us iframe {
  margin-top: 15px;
  height: 315px;
}

.menu-icons {
  margin-right: -10px;
}

.menu-icons img {
  width: 10%;
  filter: invert(1);
}

.icons-block {
  text-align: center;
}

.icons-block a {
  color: #a9d702 !important;
}

.icons-block a p {
  margin: 0;
}

.feedback {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 9999;
}

.feedback button {
  padding: 0;
}

footer {
  background-color: #98af33;
  color: white;
  padding-bottom: 30px;
}

.footer-item {
  padding-top: 30px;
}

.footer-contact a {
  text-decoration: none;
  color: #fff;
}

.footer-contact a:hover {
  color: #fff;
}

@media screen and (min-width: 1140px) {
  .footer-social-icons {
    display: flex;
    justify-content: flex-end;
  }
}

.footer-social-icons img {
  filter: invert(1);
  padding-right: 20px;
}
@media screen and (min-width: 1140px) {
  .footer-social-icons img {
    padding-left: 20px;
    padding-right: 0;
  }
}

.main-header {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.operation-mode {
  background-color: #333333 !important;
  color: #fff;
  text-align: center;
}

.operation-mode_text {
  font-size: 30px;
  background-color: #474747;
  padding: 30px 0;
}

.operation-mode_img img {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .operation-mode_img img {
    display: none;
  }
}

.price_table {
  padding-top: 30px;
  font-size: 20px;
}

.icons-block-item {
  padding: 10px;
}

.price-sale {
  margin-bottom: 30px;
}

.price-sale-block {
  display: flex;
  margin-top: 30px;
}

.price-sale-block h5 {
  font-weight: 600;
}

.price-sale-block img {
  max-width: 120px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .price-sale-block img {
    display: none;
  }
}

.about_text {
  padding-top: 30px;
}

.about-way {
  padding-top: 30px;
}

.google-map {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.map-park {
  padding: 30px 0;
}

.map-park img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .map-header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .map-park {
    display: none;
  }
}

.faq {
  padding-top: 30px;
}

.gallery-video {
  padding-bottom: 30px;
}

.gallery-video-item {
  padding-top: 30px;
  height: 220px;
}

.gallery-photo {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.price-event {
  padding-top: 30px;
}

.modal form {
  background-color: #f9f9f9;
}

.box {
  background-color: red;
  height: 220px;
}

.news-item {
  background-color: #88c794;
  padding: 20px;
}

.news-item-photo {
  display: flex;
  justify-content: center;
}

.news-item-photo img {
  max-width: 300px;
  height: auto;
}

.news-item-date {
  text-align: right;
}

.news-pagination {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
